/*
Color used:
Primary: Orange #C34E1E
Secondary: Navy #2D3573
Background: Light grey #FDFDFD
Text: Dark #333333
Footer background: #F8F6F5
*/
* {
  box-sizing: border-box;
}

/*color and typography ------------------ */
body {
  background-color: #FDFDFD;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-weight: 300;
  /* weight: light */
  line-height: 1.6;
  color: #333333;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 3em;
  font-weight: 300;
}

h2 {
  font-size: 2.25em;
  font-weight: 600;
}

h3 {
  font-size: 1.75em;
  font-weight: 600;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

p.mini-title {
  font-size: 0.875em;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

#projects .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #E5E5E5;
}

#intro-details .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #E5E5E5;
}

#skills .row {
  margin: 15px 0;
}


header {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: #FDFDFD;
  position: fixed;
  width: 100%;
  /* -webkit-box-shadow: 1px 1px 8px 0px rgba(50, 50, 50, 0.25);
  -moz-box-shadow: 1px 1px 8px 0px rgba(50, 50, 50, 0.25);
  box-shadow: 1px 1px 8px 0px rgba(50, 50, 50, 0.25); */
  /* drop shadow */
}

/* Q: this didn't work as I expected */
main {
  padding-top: 136px;
}

nav {
  display: inline-block;
  /* position: fixed; */
}

#hero {
  padding: 20px 0;
}

#hero-contact {
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#contact {
  text-align: center;
}


/* list style ------------------ */

nav>ul {
  list-style-type: none;
  /* remove bullet point */
  padding: 0;
}

nav>ul>li {
  display: inline-block;
  /* get the list items in one row */
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #C34E1E;
}

nav>ul>li>a:visited {
  color: #C34E1E;
}

nav>ul>li>a:hover {
  color: #2D3573;
  text-decoration: none;
}

#ssn ul {
  list-style-type: none;
  padding: 0;
}

#ssn ul>li {
  display: inline-block;
}

#ssn ul>li>a {
  padding: 20px 10px;
}


/* Title and img */
.logo {
  max-width: 70px;
}

#projects img {
  width: 100%;
}


#my-profile img {
  width: 80%;
}

#skills h2 {

}

h3.skill {
  display: inline-block;
  padding: 0 10px;
}

#skills h2 {
  display: block;
  padding: 20px 0 0 0;
}

.center {
  text-align: center;
}

.hidden {
  display: none;
}

/* Hyperlink and buttons ------------------ */
a {
  color: #C34E1E;
  text-decoration: none;
  font-weight: 600;
}

a:visited {
  color: #905036;
}

a:hover,
a:focus {
  color: #2D3573;
  text-decoration: underline;
  text-decoration-color: #ACB3E5;
}

a:active {
  color: #EB632B;
}

/* Primary button ------------------ */
.button {
  display: inline-block;
  background-color: #C34E1E;
  color: #FDFDFD;
  font-weight: 600;
  text-transform: uppercase;
  padding: 12px 40px;
  border-radius: 12px;
  transition: 0.2s opacity;
}

.button:visited {
  color: #FDFDFD;
}

.button:hover {
  opacity: 0.8;
  color: #ffffff;
  text-decoration: none;
}

.button:active {
  background-color: #915036;
  color: #ffffff;
}

/* Secondary button ------------------ */
.button.secondary {
  display: inline-block;
  background-color: transparent;
  color: #C34E1E;
  text-transform: uppercase;
  box-sizing: border-box;
  border: 2px solid #C34E1E;
}

.button.secondary:visited {
  color: #C34E1E;
}

.button.secondary:hover {
  background-color: #EB632B;
  color: #ffffff;
  text-decoration: none;
  border: 2px solid #EB632B;
}

.button.secondary:active {
  background-color: #915036;
  color: #ffffff;
}
