/*
Color used:
Primary: Orange #C34E1E
Secondary: Navy #2D3573
Background: Light grey #FDFDFD
Text: Dark #333333
Footer background: Ivory #F8F6F5
*/
* {
  box-sizing: border-box;
}

/*color and typography ------------------ */
body {
  background-color: #FDFDFD;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-weight: 300;
  /* weight: light */
  line-height: 1.6;
  color: #333333;
}

h1, h2, h3, h4 {
  line-height: 1.2;
}

h1 {
  font-size: 3em;
  font-weight: 600;
}

h2 {
  font-size: 3em;
  font-weight: 600;
}

h3 {
  font-size: 1.5em;
  font-weight: 600;
}

h4 {
  font-size: 1.15em;
  font-weight: 700;
}

p.mini-title {
  font-size: 0.875em;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 30px 0;
}

header {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: #FDFDFD;
  position: fixed;
  width: 100%;
}

main {
  padding-top: 126px;
}

nav {
  display: inline-block;
  /* position: fixed; */
}

footer {
  background-color: #F8F6F5;
  padding: 20px 0;
}

#projects .row {
  padding-bottom: 40px;
}

#hero {
  background-color: #FDFDFD;
}

#hero-contact {
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#project-1, #intro-details-2, {
  background-color: #F8F6F5;
  padding: 10px 0;
}

#contact {
  text-align: center;
}

#intro-details-1 {
  padding-bottom: 40px;
  background-color: #FDFDFD;
}

#skills {
  padding: 20px 0;
  background-color: #FDFDFD;
}

/* list style ------------------ */

nav>ul {
  list-style-type: none;
  /* remove bullet point */
  padding: 0;
}

nav>ul>li {
  display: inline-block;
  /* get the list items in one row */
  font-size: 0.875em;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.3s #838383;
}

nav>ul>li>a:visited {
  color: #838383;
}

nav>ul>li>a:hover {
  color: #C34E1E;
}

#ssn ul {
  list-style-type: none;
  padding: 0;
}

#ssn ul>li {
  display: inline-block;
}

#ssn ul>li>a {
  padding: 20px 10px;
}

#skills ul {
  list-style-type: none;
  padding: 0;
}

/* Title and img -------------------- */
.logo {
  max-width: 50px;
}

#projects img {
  max-width: 100%;
}

/*
#project-1 img {
  float: left;
}

#project-2 img {
  float: right;
}
*/
#profile-img img {
  width: 50%;
  float: left;
}

.hero-intro, .brief {
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.6;
}

a.hero-intro {
  font-weight: 600;
}

.brief {
  font-size: 1.25em;
}

#contact h2 {
  font-size: 2em;
}

#skills img {
  max-width: 32px;
}

.transparent {
  visibility: hidden;
}

h3.tool {
  display: inline-block;
  margin: auto;
  padding: 0 10px;
}

.center {
  text-align: center;
}

.hidden {
  display: none;
}

.berlin-illustration {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* tansition on the same page */
.bookmark {}

/* Hyperlink and buttons ------------------ */
a {
  color: #C34E1E;
  text-decoration: none;
  font-weight: 600;
}

a:visited {
  color: #C34E1E;
}

a:hover,
a:focus {
  color: #905036;
  /*  text-decoration: underline;
  text-decoration-color: #ACB3E5; */
}

a:active {
  color: #EB632B;
}

/* Primary button ------------------ */
.button {
  display: inline-block;
  background-color: #C34E1E;
  color: #FFFFFF;
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 30px;
  border-radius: 12px;
  transition: 0.3s opacity;
}

.button:visited {
  color: #FFFFFF;
}

.button:hover {
  opacity: 0.8;
  color: #ffffff;
  text-decoration: none;
}

.button:active {
  background-color: #915036;
  color: #ffffff;
}

/* Secondary button ------------------ */
.button.secondary {
  display: inline-block;
  background-color: transparent;
  color: #C34E1E;
  text-transform: uppercase;
  box-sizing: border-box;
  border: 2px solid transparent;
  transition: 0.3s border;
}

.button.secondary:visited {
  color: #C34E1E;
}

.button.secondary:hover {
  color: #C34E1E;
  text-decoration: none;
  opacity: 1.0;
  border: 2px solid #C34E1E;
}

.button.secondary:active {
  color: #915036;
  border: 2px solid #915036;
}

/* index svg css (default code from the svg file) -------------- */


/* animation ------------------- */


@keyframes color-change {
  0% {
    fill: #C34E1E;
  }

  20% {
    fill: #c0362c;
  }

  100% {
    fill: #c47365;
  }
}

@keyframes cloud-move {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(200px, 0);
  }
}

@keyframes fog-move {
  from {transform: translate(-10px,0);}
  to {transform: translate(0, 0);}
}

/* color-change doesn't work for my svg. Is it caused by the svg color-fill class (".st2, .st8")? */
.bridge {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.cloud-1 {
  animation-duration: 25s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.cloud-2 {
  animation-duration: 15s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.fog {
  animation-duration: 3s;
  animation-name: fog-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease;
}


/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  [class*="col-"] {
    float: left;
  }

  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  body {
    font-size: 12pt;
  }

  h2 {
    padding-top: 20px;
  }

  .container {
    margin: 0 15px;
    padding-top: 10px;
  }

  .col-md-6 {
    width: 50%;
    padding: 0 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #projects {
    padding-top: 30px;
  }

  #profile-img img {
    display: none;
  }

  #about-page h3 {
    margin-top: 0;
  }
}

/* ==============================
Large devices (1024px and larger)
================================= */
@media only screen and (min-width: 1024px) {
  [class*="col-"] {
    float: left;
  }

  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  body {
    font-size: 14pt;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
  }


  .col-lg-4 {
    width: 33.33%;
    padding: 0 10px;
  }

  .col-lg-5 {
    width: 41.66%;
    padding: 0 10px;
  }

  .col-lg-7 {
    width: 58.33%;
    padding: 0 10px;
  }

  .col-lg-8 {
    width: 66.66%;
    padding: 0 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .logo {
    max-width: 70px;
  }

  #projects {
    padding-top: 30px;
  }

  #profile-img img {
    display: inline-block;
    max-width: 60%;
  }
}

/* ==============================
XL devices (1440px and larger)
================================= */
@media only screen and (min-width: 1440px) {
  [class*="col-"] {
    float: left;
  }

  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  body {
    font-size: 14pt;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
  }

  /* Q: how do I center the text content horizontally? */
  .col-lg-4 {
    width: 33.33%;
    padding: 0 10px;
  }

  .col-lg-5 {
    width: 41.66%;
    padding: 0 10px;
  }

  .col-lg-7 {
    width: 58.33%;
    padding: 0 10px;
  }

  .col-lg-8 {
    width: 66.66%;
    padding: 0 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .logo {
    max-width: 70px;
  }

  #projects {
    padding-top: 30px;
  }

  #profile-img img {
    display: inline-block;
    max-width: 60%;
  }
}

/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {}
